<div class="page" [class.synchronization-mode]="inSynchronizationMode">
    <h1>Combined Serial Communication</h1>

    <div class="container">
        <div class="box" *ngFor="let combinedProtocol of combinedProtocols">
            <div *ngFor="let section of combinedProtocol.protocol.sections"
                 (click)="selectSynchronizationPoint(combinedProtocol, section, $event)"
                 class="card"
                 [class.selected]="combinedProtocol.synchronizationSection == section">
                <p class="header" [class.secondary]="section.secondary">
                    {{section.header}}
                </p>
                <pre>{{section.content}}</pre>
            </div>
        </div>
    </div>

    <div class="toolbar">
        <blur-control>
            <button *ngIf="!inSynchronizationMode" (click)="startSynchronizationPointSelection()">Synchronize</button>
            <button *ngIf="inSynchronizationMode" (click)="synchronizeRecordings()">Done</button>
        </blur-control>
    </div>
</div>
