.box {
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;

    h1 {
    }
}

.card {
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;

    .header {
        margin: 0;
        padding: 5px;
        font-weight: bold;
        background: #0078D7;

        &.secondary {
            background: #038387;
        }
    }

    pre {
        user-select: text;
        margin: 5px;
    }
}
