<div class="outer">
    <div class="card">
        <h1>Serial Protocol Analyzer</h1>
        <p class="subheader">Select some protocol.json files</p>

        <div class="list">
            <div *ngFor="let file of filesForProtocolAnalysis.keys()" class="listItem">
                {{file}}
            </div>
        </div>

        <div class="buttons">
            <button (click)="selectFiles('analyze')">Select Files</button>
        </div>

        <button class="start accent" [disabled]="filesForProtocolAnalysis.size <= 0" (click)="start()">
            Start
        </button>

        <input id="fileInput" class="hidden" type="file" multiple accept="application/json" (change)="fileChanged($event, 'analyze')" />
    </div>

    <div class="card">
        <h1>File Concatenator</h1>
        <p class="subheader">Works only with *.txt files from "Free Device Monitor Studio"</p>

        <div class="list">
            <div *ngFor="let file of filesToConcatenate" class="listItem">
                {{file.name}}
            </div>
        </div>

        <div class="buttons">
            <button (click)="selectFiles('concatenate')">Select Files</button>
        </div>

        <button class="start accent" [disabled]="filesToConcatenate.length <= 0" (click)="concatenate()">
            Concatenate!
        </button>

        <input id="concatenateFileInput" class="hidden" type="file" multiple accept="text/plain" (change)="fileChanged($event, 'concatenate')" />
    </div>
</div>
