<div class="outer">
    <div class="card">
        <h1>Serial Protocol Analyzer</h1>
        <p class="subheader">Works only with "Free Device Monitor Studio"</p>
        <p>To start, upload two *.txt files containing the serial port communication.</p>

        <div class="list">
            <div *ngFor="let file of files" class="listItem">
                {{file.name}}
            </div>
        </div>

        <div class="buttons">
            <button (click)="selectFiles()">Select Files</button>
        </div>

        <button class="start accent" [disabled]="files.length <= 0" (click)="start()">
            Start
        </button>

        <input id="fileInput" class="hidden" type="file" multiple accept="text/plain" (change)="fileChanged($event)" />
    </div>
</div>
